@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  grid-template-columns: 1fr 6fr;
  background-color: blanchedalmond;
}

nav{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  left: 0%;
  width: 10%;
}

nav header{
  font-size: xx-large;
}


nav a {
  font: x-large;
  text-decoration: none;
  color: black;
  padding: 30px;
}

nav a:hover {
  font: x-large;
  background-color: black;
  color: white;
}

code{
  background-color: lightgray;
  padding: 20px;
}

p{
  padding: 20px;
}


main{
  position: absolute;
  left:10%;
  border-left: 2px solid black;
  padding-left: 20px;
}

main header{
  font-size: xx-large;
  text-decoration: underline;
  text-align: center;
}

section{
  padding-top: 40px;
}

@media (max-width:600px) {
  body{
    display: flex;
    font-size: small;
    justify-content: center;
  }

}